.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    background-image: url('https: //images.unsplash.com/photo-1483208181115-ed2a75caa8d8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2MDkxMjR8MHwxfHNlYXJjaHwxMDN8fGZsb3dlcnN8ZW58MHx8fHwxNzIyODk5Mzk1fDA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}