.link {
    text-decoration: none;
    color: #ff00ff;
    padding: 0.5rem;
    font-size: 2em;
}

.link:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
    color: #0056b3;
}