.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 8em;
    color: #0a5703;
}

.subtitle {
    font-size: 3em;
    color: #0a5703;
}